    body {
      font-family: 'Segoe UI', sans-serif;
      margin: 0;
      background-color: #f3f7fa;
    }


    header {
      /* background-color: #004d40; */
      background-image: url('../Img/segtra.png'); 
      background-color: rgba(0, 77, 64, 0.4); /* Cor com transparência */
      background-size: cover;                  /* Faz a imagem cobrir todo o header */
      background-position: center;             /* Centraliza a imagem */
      background-blend-mode: overlay; /* Mistura a cor e a imagem */
      color: white;
      padding: 20px 0;
      text-align: center;
      opacity: 0.5; /* 60% visível */
    }

    header h1 {
      font-size: 3rem; /* Deixa o título maior */
      font-weight: bold; /* Deixa o texto mais grosso */
      text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); /* Sombra preta para realçar */
      margin: 0;
    }

    header p {
      font-size: 1.5rem;
      text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5); /* Sombra mais leve para o parágrafo */
      margin-top: 10px;
    }

    main {
      max-width: 1000px;
      margin: 30px auto;
      background-color: white;
      padding: 30px;
      border-radius: 10px;
    }

    h2 {
      color: #004d40;
    }

    .topico {
      background-color: #e0f2f1;
      border-left: 5px solid #004d40;
      padding: 15px;
      margin-bottom: 20px;
      border-radius: 5px;
    }

    ul {
      padding-left: 20px;
    }

    footer {
      background-color: #004d40;
      color: white;
      text-align: center;
      padding: 5px;
      margin-top: 40px;
    }

    .botao {
      display: inline-block;
      padding: 12px 20px;
      background-color: #00796b;
      color: white;
      text-decoration: none;
      border-radius: 5px;
      font-weight: bold;
      margin-top: 20px;
    }

    .botao:hover {
      background-color: #004d40;
    }
  
  .botao-voltar {
    display: inline-block;
    padding: 12px 20px;
    background-color: #1a8f7b;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }

  .botao-voltar:hover {
    background-color: #004d40;
  }